.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(315deg, #ffba08, #6a040f);
}

.nav-h1-img h1,
.nav-h1-img h2,
.nav-h1-img h3 {
  color: white;
  padding: 3px;
  padding-top: 0px;
}

.nav-menu ul li {
  border: 2px solid red;
}

.nav-menu ul li a {
  color: white;
}

.menu-video {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: auto;
}

.picture-container{
  display: flex;
  flex-direction: column;
  padding: 0px 20%;
}

.nav-menu ul > li:nth-child(n) {
  opacity: 100;
  border-radius: 30px 0px 30px 0px;
}
